.home {
    &__content {
        flex-grow: 1;
        padding: 150px 0;
    }

    // &__section {
    //     min-height: calc(100vh - 70px);
    // }

    &__title {
        color: white;
        font-size: 80px;
        line-height: 110%;

        &:nth-of-type(2) {
            margin-bottom: 50px;
        }
    }

    &__subtitle {
        font-size: 30px;
        line-height: 110%;

        &:nth-of-type(2) {
            margin-bottom: 50px;
        }
    }

    &__btn {
        padding: 18px 26px;
        border-radius: 10px;
        margin-bottom: 150px;
        font-size: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 50px 0;
        opacity: 0;

        &-icon {
            width: 120px;
            flex-shrink: 0;
        }

        &-text {
            font-size: 30px;
            line-height: 110%;
        }
    }
}